.Feature {
    align-items: center;
    background-color: $light-gray;
    display: flex;
    height: 930px;

    @include media-breakpoint-down(lg) {
        height: 1200px;
    }

    @include media-breakpoint-down(sm) {
        height: 1800px;
    }

    &-first {
        display: flex;
        flex-direction: column;
    }

    &-second {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-welcome {
        color: $cornflowerBlue;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &-title {
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &-text {
        line-height: 2;
        margin: 20px 0;
    }
}

.FeatureCard {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 260px;
    margin: 15px;
    padding: 25px 20px;
    width: 350px;

    @include media-breakpoint-down(lg) {
        width: 290px;
    }

    @include media-breakpoint-down(sm) {
        height: 200px;
        width: 100%;
    }

    &-icon {
        color: $cornflowerBlue;
        font-size: 45px;
    }

    &-label {
        font-size: 22px;
        font-weight: 700;
    }

    &-text {
        font-size: 15px;
        line-height: 2;

        @include media-breakpoint-down(md) {
            font-size: 14px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 15px;
        }
    }
}
