.About {
    align-items: center;
    display: flex;
    height: 715px;

    @include media-breakpoint-down(md) {
        height: 1200px;
    }

    &-welcome {
        color: $cornflowerBlue;
        font-weight: 600;
    }

    &-title {
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    &-item {
        align-items: center;
        display: flex;
        height: 85px;
        width: 70%;
    }

    &-firstcol {
        align-items: center;
        display: flex;
        height: 100%;
        width: 15%;
    }

    &-icon {
        font-size: 35px;
    }

    &-data {
        display: flex;
        flex-direction: column;
    }

    &-label {
        font-size: 18px;
        font-weight: 600;
    }

    &-text {
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;

        @include media-breakpoint-down(lg) {
            font-size: 14px;
        }
    }

    &-seccol {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
}
