.Home {
    &-introduction {
        display: flex;
        align-items: center;
        background-image: url("/assets/images/introduction-background.jpg");
        background-position: center center;
        background-size: cover;
        height: 750px;
        width: 100%;

        @include media-breakpoint-down(lg) {
            height: 700px;
        }

        @include media-breakpoint-down(md) {
            height: 540px;
        }

        @include media-breakpoint-down(sm) {
            height: 400px;
        }
    }
}

.HomeStatistics {
    display: flex;
    align-items: center;
    background-color: $aliceBlue;
    height: 340px;

    &-container {
        display: flex;
        align-items: center;
        background: $white;
        height: 140px;
        justify-content: center;
    }

    &-icon {
        color: $cornflowerBlue;
    }

    &-data {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    &-amount {
        font-size: 18px;
        font-weight: 600;
    }

    &-label {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
    }
}
